body{
	background-color: #74a5f2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5em;
   }
   


   .leftbox{
   
	   background: #626873;
	   width: 400px;
	   height: 250px;
	   border: 3px solid orange;
	   margin-left: 5px;
	   margin-top: 15px;
   }
   
   .top{
   
	   margin-left: 10px;
	   font-family: Arial, Helvetica, sans-serif;
   
   }
   
   .button{
	   background-color: #bdb54d;
	   padding: 12px 60px;
	   border: 2px solid rgb(211, 121, 18);
	   margin-bottom: 40px;
	   margin-left: 100px;
	   font-size: medium;
	  }
	  
   .button:hover{
	   background-color: red;
   }   
   
   .SA{
	   font-weight: bold;
	   background: burlywood;
	   font-size: larger;
	   color: rgb(131, 41, 8);
	   width: 250px;
	   height: 80px;
	   border: 2px solid rgb(211, 121, 18);
	   margin-top: 100px;
	   margin-left: 100px;
	   margin-bottom: 0px;
   
   }
   .SA:hover{
	   background-color: rgb(101, 145, 112);
   
   }
   
   .SO{
	   font-weight: bold;
	   background: burlywood;
	   font-size: larger;
	   color: rgb(131, 41, 8);
	   width: 250px;
	   height: 80px;
	   border: 2px solid rgb(224, 9, 20);
	   margin-top: 50px;
	   margin-left: 100px;
   
   }
   .SO:hover{
	   background-color: rgb(101, 145, 112);
   }
   
   .rightbox{
	   
	   background: rgb(175, 123, 105);
	   height: 610px;
	   width: 850px;
	   margin-left: 20px;
	   margin-top: 15px;
	   margin-bottom: 600px;
	   border: 3px solid red;
	   
   }
   

   .form{
	padding-top: 10px;
	padding-left: 10px;

	
   }

   .first{

	font-size: x-large;
	color: rgb(30, 32, 30);

   }

   .form input[type="text"], .form input[type="number"], .form input[type="password"], .form textarea{
	border: 3px red solid;
	padding: 9px;
	padding-left: 5px;
	padding-top: 10px;
	width: 95%;
	margin-top: 10px
	
   }

   label{
		font-size: larger;
   }
   
   .SE{
	font-weight: bold;
	background: burlywood;
	font-size: larger;
	color: rgb(131, 41, 8);
	width: 200px;
	height: 60px;
	border: 2px solid rgb(224, 9, 20);
	margin-top: 10px;
	margin-left: 10px;
   }

   .SE:hover{
	background-color: rgb(101, 145, 112);
}

.VD{
	font-weight: bold;
	background: burlywood;
	font-size: larger;
	color: rgb(131, 41, 8);
	width: 200px;
	height: 60px;
	border: 2px solid rgb(224, 9, 20);
	margin-top: 10px;
	margin-left: 10px;
   }

   .VD:hover{
	background-color: rgb(101, 145, 112);
}

.bottom{

	background-color: rgb(182, 159, 182);
	height: 200px;
	width: 810px;
	border: 3px solid red;
	margin-left: 10px;
	margin-top: 10px;
}

.PO{
	font-weight: bold;
	background: burlywood;
	font-size: larger;
	color: rgb(131, 41, 8);
	width: 150px;
	height: 40px;
	border: 2px solid rgb(224, 9, 20);
	margin-top: 10px;
	margin-left: 300px;
   }

   .PO:hover{
	background-color: rgb(101, 145, 112);
}

.form2 input[type="text"], .form input[type="number"], .form input[type="password"], .form textarea[type="text"]{
	width: 70%;
}